# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/FeedFwBackProp.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
/derin_ogr_hw2.pages
/derin_ogr_hw2.pdf
